@model TNC.Models.NewsDetailVM
@{
    ViewBag.Title = "Add news item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <style>
        #X-box{
            width:50px;
        }
        #Y-box{
            width:50px;
        }
    </style>
}

@section PageJavascript{

<script type="text/javascript" src="@Url.Content("~/Assets/TinyMCE/tinymce.min.js")"></script>
<script type="text/javascript">
    tinymce.init({
        content_css: "@Url.Content("~/Assets/VivacareProviders/CSS/main.css"), @Url.Content("~/Assets/VivacareProviders/CSS/CommonLayoutStyles.css")", @*, @Url.Content("~/Assets/VivacareProviders/CSS/CommonLayoutStyles.css")", //?" + new Date().getTime(),  *@
        selector: "textarea",
        remove_linebreaks: false,
        force_p_newlines: false,
        force_br_newlines: false,
        cleanup: false,
        relative_urls: false,
        remove_script_host: true,
        document_base_url: "@Url.Content("~/")",

        plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });

    tinymce.init({
        content_css: "@Url.Content("~/Assets/VivacareProviders/CSS/main.css"), @Url.Content("~/Assets/VivacareProviders/CSS/CommonLayoutStyles.css")", @*, @Url.Content("~/Assets/VivacareProviders/CSS/CommonLayoutStyles.css")", //?" + new Date().getTime(),  *@
        selector: "textarea",
        editor_selector: "mceAdvanced",
    remove_linebreaks: false,
    force_p_newlines: false,
    force_br_newlines: false,
    cleanup: false,
    relative_urls: false,
    remove_script_host: true,
    document_base_url: "@Url.Content("~/")",

    plugins: [
    "advlist autolink lists link image charmap print preview anchor",
    "searchreplace visualblocks code fullscreen",
    "insertdatetime media table contextmenu paste"
    ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>

<script>
    $("#submit-account-setup").click(function () {
        $("#modify-content").submit();
    });
</script>



    <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-tooltip.js")"></script>
    <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-popover.js")"></script>
    <script src="@Url.Content("~/Assets/JQuery/jquery.min.js")"></script>


    <script>
        $(document).ready(function () {
           // $(".dotlink").popover({ html: true });
        });
        //image coordinate function
        $(document).ready(function () {
            $("img").click(function (e) {
                var offset = $(this).offset();
                var relativeX = (e.ClientX - offset.left);
                var relativeY = (e.ClientY - offset.top);
                
                console.info("absolute x: " + relativeX);
                console.info("absoulte y: " + relativeY);
               
                console.info("absolute width: " + $(this).width());
                console.info("absolute height: " + $(this).height());

                console.info("image relative x: " + relativeX / $(this).width());
                console.info("image relative y: " + relativeY / $(this).height());

                //length = 794

                var longitude = 180 / length * relativeX - 180;

                //height = 370

                var latitude = -90 / height * relativeY + 90;

                $("#X-box").val(longitude);
                $("$Y-box").val(latitude);
            });

        });
    </script>
    


}


        @if (!String.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="row">
                <div class="span-6">
                    <div class="alert alert-error">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Error:</strong> @Model.ErrorMessage
                    </div>
                </div>
            </div>
        }
        <img src="@Url.Content("/Assets/TNC/SiteImages/BlankMap-World-v2.png")">
        @*@if (Model.Title != null && Model.UrlTitle != null)
        { 
        if (Model.Title == Model.UrlTitle)
        {
             <div class="row">
                <div class="span-6">
                    <div class="alert alert-error">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Error</strong> A title cannot be the same as a title from a previous article.
                    </div>
                </div>
            </div>
        }
        }*@


        <form method="post" action="@Url.Content("~/News/AddNewsDetailSubmit")">
            <fieldset>
                <div class="control-group">
                    <label for="title">Article Title:</label><input type="text" name="title" value="@Model.Title" />
                </div>
                <div class="control-group">
                    <label for="publicationDate">Date Published:</label><input type="text" name="publicationDate" value="@Model.PublicationDate" />
                </div>
                <div class="control-group">
                    <label>Author:</label>
                    <input type="text" value="@Model.Author" name="authName" />
                </div>
                <div class="control-group">
                    Summary:
                    <textarea rows="4" cols="200" name="summary" id="text1-box">@Model.Summary</textarea>  
                </div>
                <div class="control-group">
                    Main body:
                    <textarea rows="4" cols="200" name="body" class="mceAdvanced" id="text-box">@Model.Body</textarea>
                </div>
                <div class="control-group">
                    <input type="submit" class="btn btn-info" value="Add Article" />
                </div>
</fieldset>
        </form>

