@model TNC.Models.NewsViewModel
@{
    ViewBag.Title = "News";
    ViewBag.Current = "News";
    ViewBag.CurrentPageForNavBar = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <style>
        .sidebar-nav {
            padding: 9px 0;
        }

        #map-container {
            position: relative;
        }

            #map-container > img {
                width: 200%;
            }

            #map-container .dot img {
                width: 10px;
            }

        .dot {
            position: absolute;
            * float: right;
        }

        #nav nav-list {
            margin-right: 30px;
        }

        #news {
            margin-left: 0px;
        }

        #sidebar {
            float: right;
        }

        @@media(max-width: 767px) {
            #sidebar {
                float: none;
            }
        }
    </style>
}

@section PageJavascript{
    <script src="~/Assets/Bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="~/Assets/Bootstrap/js/bootstrap-popover.js"></script>

    <script>
        $(document).ready(function () {
            $(".dotlink").popover({ html: true });
        });

    </script>


}
<body>
    <div id="content" class="container">

        <div class="row">
            <div class="span12">
                <div id="map-container">
                    <img src="http://www.wpclipart.com/geography/world_maps/world_map_simple.png">
                    @*@foreach (Tuple<string, string, string> item in Model.MapItems)
                    {
                        <div style="@item.Item1" class="dot">
                            <a class="dotlink" title="@item.Item2"
                               data-content="@item.Item3"
                               data-placement="right"
                               data-toggle="popover"
                               href="#"
                               data-original-title="Popover on top"><img src="~/Assets/TNC/SiteImages/dots.png" /></a>
                        </div>
                    }*@

                </div>
            </div>

        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <a href="">Add a new news item.</a>

        }

        <div class="row">
            <div id="sidebar" class="span3">

                <h2>Menu</h2>
                <ul class="nav nav-list">
                    <li class="nav-header">List header</li>
                    <li class="active"><a href="@Url.Content("~/News/Edit_News")">Edit News</a></li>
                    <li><a href="@Url.Content("~/News/News_Detail")">News Detail</a></li>
                </ul>
            </div>

            <div class="span6" id="news">
                @foreach (TNC.NewsItem item in Model.NewsItems)
                {
                    <div class="row">

                        <h2>
                            <a href="@item.UrlTitle">@item.Title</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span style="font-size:0.96em;"><a href="@Url.Content("~/News/EditNewsItem/" + @item.UrlTitle)"><i class="icon-edit"></i>edit</a></span>
                            }
                        </h2>
                        @Html.Raw(item.Summary)
                        <a href="@Url.Content("~/News/EditNewsItem/" + @item.UrlTitle)" class="btn btn-info">Read More</a>

                        

                    </div>
                }

            </div>


        </div>

    </div>
</body>