@model TNC.Models.NewsViewModel
@{
    ViewBag.Title = "News";
    ViewBag.Current = "News";
    ViewBag.CurrentPageForNavBar = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <style>
        .sidebar-nav {
            padding: 9px 0;
        }

        #map-container {
            position: relative;
        }

            #map-container > img {
                width: 200%;
            }

            #map-container .dot img {
                width: 10px;
            }

        .dot {
            position: absolute;
            * float: right;
        }

        #nav nav-list {
            margin-right: 30px;
        }

        #news {
            /*margin-left: 0px;*/
        }

        #sidebar {
            /*float: right;*/
        }

        @@media(min-width: 768px) {
            #sidebar {
                float: right;
            }
            #news { float: left; }
        }
    </style>
}

@section PageJavascript{
    <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-tooltip.js")"></script>
    <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-popover.js")"></script>

    <script>
        $(document).ready(function () {
            $(".dotlink").popover({ html: true });
        });

    </script>
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>

}
<body>
    <div id="content" class="container">

        <div class="row">
            <div class="span12">
                <div id="map-container">            
                    <img src="@Url.Content("/Assets/TNC/SiteImages/BlankMap-World-v2.png")">
                    @*Creative Commons License:http://creativecommons.org/licenses/by-sa/3.0/*@
                    @*@foreach (Tuple<string, string, string> item in Model.MapItems)
                    {
                        <div style="@item.Item1" class="dot">
                            <a class="dotlink" title="@item.Item2"
                               data-content="@item.Item3"
                               data-placement="right"
                               data-toggle="popover"
                               href="#"
                               data-original-title="Popover on top"><img src="~/Assets/TNC/SiteImages/dots.png" /></a>
                        </div>
                    }*@

                </div>
            </div>

        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Content("~/News/AddNewsDetail")">Add a new news item.</a>

        }
        
            <div class="row">

                <div id="sidebar" class="span3">

                    
                    <ul class="nav nav-list">
                        <li class="nav-header">Archive</li>
                        <li class="active"><a href="@Url.Content("#")">November 2014</a></li>
                        <li><a href="@Url.Content("#")">December 2014</a></li>
                    </ul>
                </div>
                <div class="span9" id="news">
                    @foreach (TNC.NewsItem item in Model.NewsItems)
                    {
                        <div class="row">

                            <h2>
                                <a href="@Url.Content("~/News/NewsDetail/" + item.UrlTitle)">@item.Title</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span style="font-size:0.56em;"><a href="@Url.Content("~/News/EditNewsDetail?titleUrl=" + @item.UrlTitle)"><i class="icon-edit"></i>edit</a></span>

                                    <span style="font-size:0.56em;"><a href="@Url.Content("~/News/DeleteNewsDetailSubmit?urlTitle=" + @item.UrlTitle)" class="confirmation"><i class="icon-edit"></i>Delete</a></span>
                                }
                            </h2>
                            @Html.Raw(item.Summary)
                            <a href="@Url.Content("~/News/NewsDetail/" + item.UrlTitle)">Read More</a>



                        </div>
                    }

                </div>
            </div>
        </div>

</body>