@model TNC.NewsItem
@{
    ViewBag.Title = "News Detail";
    ViewBag.Current = "News Detail";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
  <style>
      #text
      {
          float:left;
      }
      #image
      {
          margin-bottom:10px;
      }
    </style>
}

@section PageJavascript{}
<div class="container">

    

        <div align="center" id="image">
        @*<img src="http://placehold.it/1100x400"/>*@
        </div>
        <div>
            <br />
            <h1>
            @Model.Title
            </h1>

            <h5>
                @Model.PublicationDate.ToLongDateString()<br />
            </h5>

            <h5>
            <i>@Html.Raw(Model.Summary)</i>
            </h5>
            
            
            
            <br />
        </div>
        <div id="text" style="font-size:16px;" align="justify">@Html.Raw(Model.Body)</div>

    <br />
    <br />

    <a href="@Url.Content("~/News")">Back to News</a>
</div>



