@{
    ViewBag.Title = "Concepts Gallery";
    ViewBag.Current = "Concepts Gallergy";
    ViewBag.CurrentPageForNavBar = "Concepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 <div class="container">
        <div class="header">
           
           
                       
            <div class="clr">
            </div>
        </div>
        <!-- header -->
        <div class="content">
            <h1>
                True North Composites Concepts Gallery
            </h1>
            <div id="rg-gallery" class="rg-gallery">
                <div class="rg-thumbs">
                    <!-- Elastislide Carousel Thumbnail Viewer -->
                    <div class="es-carousel-wrapper">
                        <div class="es-nav">
                            <span class="es-nav-prev">Previous</span> <span class="es-nav-next">Next</span>
                        </div>
                        <div class="es-carousel">
                         <ul style="width: 3888px; margin-left: 0px; display: block;">
                                 <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/special4.jpg")" data-large="@Url.Content("~/Resources/ContentImages/spec4.jpg")" alt="image24" data-description="Hospital Vessel Concept – Mobile clinic, triage center, and full hospital capability – shallow draft" /></a></li>
                                 <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/conc.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con1.jpg")" alt="image01" data-description="Concept Gimbal Craft 2004 with composite body " /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con2.jpg")" alt="image02" data-description="Concept Gimbal Craft 2004 with composite body (2) " /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts2.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con3.jpg")" alt="image03" data-description="Concept Passenger Ferry Vessel for Eco Tours profile " /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts3.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con4.jpg")" alt="image04" data-description="Concept Passenger Ferry Vessel for Eco Tours forward " /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts4.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con5.jpg")" alt="image05" data-description="Concept Passenger Ferry Vessel for Eco Tours aft " /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts5.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con7.jpg")" alt="image06" data-description="Concept Passenger Ferry Vessel Concept " /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts6.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con6.jpg")" alt="image07" data-description="Concept Passenger Ferry Vessel Inside" /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts7.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con8.jpg")" alt="image08" data-description="Concept Passenger Ferry Vessel Top View  " /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/Resources/ContentImages/thumbs/concepts8.jpg")" data-large="@Url.Content("~/Resources/ContentImages/con9.jpg")" alt="image09" data-description="Concept Passenger Ferry Vessel Port Profile " /></a></li>


                            </ul>
                        </div>
                    </div>
                    <!-- End Elastislide Carousel Thumbnail Viewer -->
                </div>
                <!-- rg-thumbs -->
            </div>
            <!-- rg-gallery -->
            <p class="sub">
            </p>
        </div>
        <!-- content -->
    </div>
    <!-- container -->
    <script type="text/javascript" src="/Resources/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/Resources/jQuery/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/Resources/jQuery/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/Resources/jQuery/jquery.elastislide.js"></script>
    <script type="text/javascript" src="/Resources/jQuery/gallery.js"></script>
    