@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Tuple<string, string, string>> images = new List<Tuple<string, string, string>>()
    {
        Tuple.Create("/Assets/TNC/ContentImages/thumbs/housing1.jpg","/Assets/TNC/ContentImages/house1.jpg","Housing sample for exhibition 2007 – exterior"),
        Tuple.Create("/Assets/TNC/ContentImages/thumbs/housing2.jpg","/Assets/TNC/ContentImages/house2.jpg","Housing sample for exhibition 2007 – cut view"),
        Tuple.Create("/Assets/TNC/ContentImages/thumbs/housing3.jpg","/Assets/TNC/ContentImages/house3.jpg","Gazebo for remote island off the coast of Panama built in 2007 – 24’ (7.3 m) diameter, self-contained – under construction"),
        Tuple.Create("/Assets/TNC/ContentImages/thumbs/housing4.jpg","/Assets/TNC/ContentImages/house4.jpg","Gazebo for remote island off the coast of Panama built in 2007 – 24’ (7.3 m) diameter, self-contained – assembled on site"),
        Tuple.Create("/Assets/TNC/ContentImages/thumbs/housing6.jpg","/Assets/TNC/ContentImages/house6.jpg","Gazebo for remote island off the coast of Panama built in 2007 – 24’ (7.3 m) diameter, self-contained – island team during assembly - we floated the parts ashore"),
        Tuple.Create("/Assets/TNC/ContentImages/thumbs/housing7.jpg","/Assets/TNC/ContentImages/house7.jpg","Gazebo for remote island off the coast of Panama built in 2007 – 24’ (7.3 m) diameter, self-contained – island team during assembly - during assembly on site"),
        Tuple.Create("/Assets/TNC/ContentImages/thumbs/housing5.jpg","/Assets/TNC/ContentImages/house5.jpg","Gazebo for remote island off the coast of Panama built in 2007 – 24’ (7.3 m) diameter, self-contained – island team during assembly - during assembly on site(2)"),
    };

}
<div class="container">

    <!-- header -->
    <div class="content">

        <h3>
            Housing and Shelters
        </h3>
        <div>
            @{
                int largeWidth = 350;
                int largeHeight = 150;
                int smallWidth = 100;
                int smallHeight = 80;
            }

            @foreach(Tuple<string, string, string> image in images)
            {
                @*<a style="padding-bottom:3px;" class="fancybox-thumb" rel="fancybox-thumb" href="http://placehold.it/@(largeWidth + "x" + largeHeight)" title="Ayvalık, Turkey (Nejdet Düzen)">
                    <img src="http://placehold.it//@(smallWidth + "x" + smallHeight)" alt="" />
                </a>*@
                <a style="padding-bottom:3px;" class="fancybox-thumb" rel="fancybox-thumb" href="@image.Item2" title="@image.Item3">
                    <img src="@image.Item1" alt="@image.Item3" />
                </a>
            }
            <br />
            <br />
            <br />
            <p>See More:<a href="@Url.Content("~/Home/Gallery_Containers")">Containers</a> · <a href="@Url.Content("~/Home/Gallery_HousingShelters")">Housing Shelters</a> · <a href="@Url.Content("~/Home/Gallery_PassengerFerries")">Passenger Ferries</a> · <a href="@Url.Content("~/Home/Gallery_SailingCats")">Sailing Cats</a> · <a href="@Url.Content("~/Home/Gallery_SpecialPurposeVessels")">Special Purpose Vessels</a> · <a href="@Url.Content("~/Home/Gallery_WindTurbines")">Wind Turbines</a></p>
        </div>
    </div>
    <!-- content -->
</div>
<!-- container -->


@section PageCSS{
    <style type="text/css">
    </style>
}
@section PageJavascript{
    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js")"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/fancybox/source/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5")"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Assets/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7")"></script>

<script>
$(document).ready(function() {
    $(".fancybox").fancybox();
    $(".fancybox-thumb").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});
});
</script>
}

