@{
    ViewBag.Title = "History";
    ViewBag.Current = "History";
    ViewBag.CurrentPageForNavBar = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <style>
        .span4 img { margin-bottom: 12px; }
        figure { float: left; margin: 0px;}
    </style>    
    
}
@section PageJavascript{<script src="@Url.Content("/Assets/Bootstrap/js/bootstrap-transition.js")"></script>
    <script src="@Url.Content("/Assets/Bootstrap/js/bootstrap-carousel.js")"></script>
    <script>
    $(document).ready(function () {
      // line height in 'px'
      var maxheight=300;
      var showText = "More";
      var hideText = "Less";

      $('.textContainer_Truncate').each(function () {
        var text = $(this);
        if (text.height() > maxheight){
            text.css({ 'overflow': 'hidden','height': maxheight + 'px' });

            var link = $('<a href="#">' + showText + '</a>');
            var linkDiv = $('<div></div>');
            linkDiv.append(link);
            $(this).after(linkDiv);

            link.click(function (event) {
              event.preventDefault();

              if (text.height() > maxheight) {
                  $(this).html(showText);
                  text.css('height', maxheight + 'px');
              } else {
                  $(this).html(hideText);
                  text.css('height', 'auto');
              }
            });
        }
      });
    });
        </script>
    }
 
 <div class="container">
     <div id="myCarousel" class="carousel slide">
         <div class="carousel-inner">
             <div class="item active">
                 <img src="@Url.Content("~/Assets/TNC/SiteImages/ferry-on-truck.jpg")" alt="">
                 <div class="container">
                     <div class="carousel-caption">
                         @*<h1>Example headline.</h1>*@
                         <p class="lead">True North Composites is most recognized for our innovative composite materials; tested and validated for strength as well as versatility, and especially well-suited to attain product performance for applications in extreme environments.</p>
                         @*<a class="btn btn-large btn-primary" href="#">Sign up today</a>*@
                     </div>
                 </div>
             </div>
             <div class="item">
                 <img src="@Url.Content("~/assets/TNC/SiteImages/ferry-on-truck.jpg")" alt="">
                 <div class="container">
                     <div class="carousel-caption">
                         @*<h1>Another example headline.</h1>*@
                         <p class="lead">Our product and system solutions are value engineered for not only superior performance but also for environment compatibility and sustainability attributes. With a focus on <span class="highlight">improving life through responsible technologies</span>, our <span id="highlight">“circle of sustainability”</span>business mission, has spawned multitudes of product solutions. Each creation originates from societal need and founded on simple but sophisticated science applications.</p>
                         @*<a class="btn btn-large btn-primary" href="#">Learn more</a>*@
                     </div>
                 </div>
             </div>
             <div class="item">
                 <img src="@Url.Content("~/assets/TNC/SiteImages/ferry-on-truck.jpg")" alt="">
                 <div class="container">
                     <div class="carousel-caption">
                         @*<h1>One more for good measure.</h1>*@
                         <p class="lead">Our proprietary composite material serves as the foundation that enables us to develop product lines suitable for niche markets potentially not possible with traditional construction materials, i.e. coastal environments, flood and earthquake zones, extreme temperature and humidity locations, high velocity winds, and insect incursion. With our composites, nothing is impossible.</p>
                         @*<a class="btn btn-large btn-primary" href="#">Browse gallery</a>*@
                     </div>
                 </div>
             </div>
         </div>
         <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
         <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
     </div><!-- /.carousel -->
     
     <div class="row">
         <div class="span4 textContainer_Truncate">
             <p><figure><img src="http://placehold.it/200x100" /><figcaption></figcaption></figure>True North Composites is the exclusive manufacturer of the proprietary material
                and designs are protected under a licensing agreement with the founder Rudolph Oelofse. Originally from Cape Town, South Africa Oelofse received his education while in
                the South African Navy at Wingfield Navy College. An avid traveler and expert yachtsman,
                Oelofse sailed around the world for six years captaining vessels from South Africa
                to Alaska.
               

</p>
             <div class="textContainer_Truncate">
             <p>
                 <figure><img src="http://placehold.it/200x100" /><figcaption></figcaption></figure>Oelofse settled in and opened a successful shipyard in Seattle, Washington
                 specializing in ship/yacht repair construction and remodeling projects including
                 ferries, cruise ships, and commercial fishing vessels up to 400' in length. While
                 operating the shipyard, Oelofse concurrently developed prototype vessels for military
                 applications and specialized competition. His respected forte: Innovation and experience in designs as well as systems and
                 material applications. Innovation and experience is also the foundation for Oelofse’s
                 / True North Composites superior composite products and processes. Recognizing and responding to the need for product innovation Oelofse has developed
                a composite material ten (10) times stronger than steel at six (6) % the weight,
                versatile, and element resistant. Not only is this superior product ideal for marine
                environments but has unlimited applications potential and can be manufactured with
                replicable and scalable production processes.
             </p>
            </div>
             
         </div>
         <div class="span4 textContainer_Truncate">
             <p>
                 <figure><img src="http://placehold.it/200x100" /><figcaption></figcaption></figure>Oelofse designed and built the world’s first ‘all composite foil assisted
                 fast ferry’ using his advanced technology described by industry experts as ‘beyond
                 cutting edge’. The vessel exceeds ABS (American Bureau of Shipping), Lloyds of London,
                 and DNV (Det Norske Veritas) standards; qualifying it also as the world’s first
                 ‘all composite classed high speed ferry’.The vessel has been operating since 2006
                 proving the durablity of the material and performance success of the vessel design. Another proof of concept project built with this material was erected on
                a remote island 85 miles off the coast of Panama. This structure was specifically
                designed to test logistics and all the systems for generating energy, making water,
                storage, and communications. Additionally 100% self- sustaining, maintenance free,
                and element tested.
             </p>
             </p>
             <p>
                 <figure><img src="http://placehold.it/200x100" /><figcaption></figcaption></figure>Oelofse developed a unique lift based foil blade design for cylindrical axis
                wind generators. The blade design, developed on hydrodynamic principles, has been
                successfully in operation proving the efficiency of the blade designs since 2008.
             </p>
         </div>
         <div class="span4 ">
             <p>
                 <figure><img src="http://placehold.it/200x100" /><figcaption></figcaption></figure>Oelofse fully develops magnetic technology for advanced turbine designs
                schduled to launch first quarter 2013.  True North Composites Inc., Opens doors at McClellan Business Park, McClellan

             </p>
             <p>
                 <figure><img src="http://placehold.it/200x100" /><figcaption></figcaption></figure>True North developed our ‘Power in a Box” concept, composite container line,
                    and ReVair turbines with new generation magnetic motors.
             </p>
         </div>
    </div>
                  @*<h3>Brief History and Timeline</h3>

    <div class="row">
            <p>
                True North Composites is the exclusive manufacturer of the proprietary material
                and designs are protected under a licensing agreement with the founder Rudolph Oelofse.
                Our mission: <span id="highlight">Improving Life Through <span class="highlight">Responsible</span>
                    Technologies</span></p>
            <p>
                Originally from Cape Town, South Africa Oelofse received his education while in
                the South African Navy at Wingfield Navy College. An avid traveler and expert yachtsman,
                Oelofse sailed around the world for six years captaining vessels from South Africa
                to Alaska.
            </p>
            <p>
                <b>1989</b>- Oelofse settled in and opened a successful shipyard in Seattle, Washington
                specializing in ship/yacht repair construction and remodeling projects including
                ferries, cruise ships, and commercial fishing vessels up to 400' in length. While
                operating the shipyard, Oelofse concurrently developed prototype vessels for military
                applications and specialized competition.
            </p>
            <p>
                His respected forte: Innovation and experience in designs as well as systems and
                material applications. Innovation and experience is also the foundation for Oelofse’s
                / True North Composites superior composite products and processes.
            </p>
            <p>
                Recognizing and responding to the need for product innovation Oelofse has developed
                a composite material ten (10) times stronger than steel at six (6) % the weight,
                versatile, and element resistant. Not only is this superior product ideal for marine
                environments but has unlimited applications potential and can be manufactured with
                replicable and scalable production processes.
            </p>
            <p>
                <b>2005-2006</b> Oelofse designed and built the world’s first ‘all composite foil assisted
                fast ferry’ using his advanced technology described by industry experts as ‘beyond
                cutting edge’. The vessel exceeds ABS (American Bureau of Shipping), Lloyds of London,
                and DNV (Det Norske Veritas) standards; qualifying it also as the world’s first
                ‘all composite classed high speed ferry’.The vessel has been operating since 2006
                proving the durablity of the material and performance success of the vessel design.
            </p>
            <p>
                Another proof of concept project built with this material was erected on
                a remote island 85 miles off the coast of Panama. This structure was specifically
                designed to test logistics and all the systems for generating energy, making water,
                storage, and communications. Additionally 100% self- sustaining, maintenance free,
                and element tested.
            </p>
            <p>
                <b>2007</b> - Oelofse developed a unique lift based foil blade design for cylindrical axis
                wind generators. The blade design, developed on hydrodynamic principles, has been
                successfully in operation proving the efficiency of the blade designs since 2008.
            </p>
            <p>
                <b>2008-2011</b> - Oelofse fully develops magnetic technology for advanced turbine designs
                schduled to launch first quarter 2013.
            </p>
            <p>
                True North Composites Inc., Opens doors at McClellan Business Park, McClellan
                CA.
                <p>
                    <b>2012</b> - True North developed our ‘Power in a Box” concept, composite container line,
                    and ReVair turbines with new generation magnetic motors.</p>
            </p>

    </div>*@
</div>

 @*       <div id="top">
            <img class="rightpic" alt="Seattle Shipyard" src="@Url.Content("~/Resources/SiteImages/seattle_shipyard.jpg")" /></div>
        <div id="top2">
            <img class="rightpic" alt="Steel Vs. Composite" src="@Url.Content("~/Resources/SiteImages/steel_vs_composite.jpg")" /></div>
        <div id="middle">
            <img class="rightpic" alt="Ferry Picture" src="@Url.Content("~/Resources/SiteImages/boat1.jpg")" /></div>
        <div id="middle2">
            <img class="rightpic" alt="Composite Housing" src="@Url.Content("~/Resources/SiteImages/05158340a535702b840a513b3e451373.png")" /></div>
        <div id="bottom">
            <img class="rightpic" alt="Balancing Man" src="@Url.Content("~/Resources/SiteImages//f951c07a72df7c337fbab49fb6ccdac0.jpg")" /></div>
        <img class="middlepic" alt="McClellan Park" src="@Url.Content("~/Resources/SiteImages/0cac6660051da17178d6487bddcb500.jpg")" />
        <p>
            Please visit the @Html.Raw(ViewBag.Current == "Gallery" ? "<a id=\"current\" href=\"" + Url.Content("~/Home/Gallery") + "\" >gallery page</a>" : "<a href=\"" + Url.Content("~/Home/Gallery") + "\" >gallery page</a>")
            for photos
        </p>
*@    
