@{
    ViewBag.Title = "History";
    ViewBag.Current = "History";
    ViewBag.CurrentPageForNavBar = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <link rel="stylesheet" href="@Url.Content("/Assets/Bitstream/webfonts/bitstreamverasans_roman_macroman/stylesheet.css")" type="text/css"  />
    <style>
        .span4 img {
            margin-bottom: 12px;
        }

        figure {
            float: left;
            margin: 10px;
        }

        .rightpic { float: left; margin-right: 10px; margin-top: 5px; width: 100px;}

        .years {
            color: #424242;
            float: left;
            margin: 10px;
            font: bold 72px/57px  'bitstream_vera_sansroman', arial, verdana, sans-serif;
            letter-spacing: -6px;
        }

        .singleyears {
            color: #525252;
            float: left;
            margin: 10px;
            font: bold 82px/62px 'bitstream_vera_sansroman', arial, verdana, sans-serif;
            letter-spacing: -6px;
        }

        #Continued-02-03 {
            display: none;
        }
    </style>

}
@section PageJavascript{
    <script src="@Url.Content("/Assets/Bootstrap/js/bootstrap-transition.js")"></script>
    <script src="@Url.Content("/Assets/Bootstrap/js/bootstrap-carousel.js")"></script>

    <script>
        $(document).ready(function () {
            // line height in 'px'
            var maxheight = 200;
            var showText = "More";
            var hideText = "Less";

            $('.textContainer_Truncate').each(function () {
                var text = $(this);
                if (text.height() > maxheight) {
                    text.css({ 'overflow': 'hidden', 'height': maxheight + 'px' });

                    var link = $('<a href="#">' + showText + '</a>');
                    var linkDiv = $('<div></div>');
                    linkDiv.append(link);
                    $(this).after(linkDiv);

                    link.click(function (event) {
                        event.preventDefault();

                        if (text.height() > maxheight) {
                            $(this).html(showText);
                            text.css('height', maxheight + 'px');
                        } else {
                            $(this).html(hideText);
                            text.css('height', 'auto');
                        }
                    });
                }
            });
        });
    </script>
}

<div class="container">


    <div class="row">
        <div class="span6">
            <!-- textContainer_Truncate -->

            <p>
                True North Composites is the exclusive manufacturer of the proprietary material
                and designs are protected under a licensing agreement with the founder Rudolph Oelofse. Originally from Cape Town, South Africa Oelofse received his education while in
                the South African Navy at Wingfield Navy College. An avid traveler and expert yachtsman,
                Oelofse sailed around the world for six years captaining vessels from South Africa
                to Alaska.
            </p>
            <p>
                Originally from Cape Town, South Africa Oelofse received his education while in
                the South African Navy at Wingfield Navy College. An avid traveler and expert yachtsman,
                Oelofse sailed around the world for six years captaining vessels from South Africa
                to Alaska.
            </p>
            <div class="years">
                '89-<br />&nbsp;'05

            </div>
            <p>
                Oelofse settled in and opened a successful shipyard in Seattle, Washington
                specializing in ship/yacht repair construction and remodeling projects including
                ferries, cruise ships, and commercial fishing vessels up to 400' in length. While
                operating the shipyard, Oelofse concurrently developed prototype vessels for military
                applications and specialized competition.  His respected forte: Innovation and experience in designs as well as systems and
                material applications. Innovation and experience is also the foundation for Oelofse’s
                / True North Composites superior composite products and processes.
                <a id="expand1" href="javascript:void(0);" class="expand">more (+)</a>
            </p>
            <div id="summary-click1" style="display:none">
                    <p>
                        While
                        operating the shipyard, Oelofse concurrently developed prototype vessels for military
                        applications and specialized competition. His respected forte: Innovation and experience in designs as well as systems and
                        material applications. Innovation and experience is also the foundation for Oelofse’s
                        / True North Composites superior composite products and processes.
                    </p>

                    <p >
                        Recognizing and responding to the need for product innovation Oelofse has developed
                        a composite material ten (10) times stronger than steel at six (6) % the weight,
                        versatile, and element resistant. Not only is this superior product ideal for marine
                        environments but has unlimited applications potential and can be manufactured with
                        replicable and scalable production processes. Recognizing and responding to the need for product innovation Oelofse has developed
                        a composite material ten (10) times stronger than steel at six (6) % the weight,
                        versatile, and element resistant. Not only is this superior product ideal for marine
                        environments but has unlimited applications potential and can be manufactured with
                        replicable and scalable production processes.
                    </p>
                </div>

            <div class="years">
                '06-<br />&nbsp;'07

            </div>

            <p>
                Oelofse designed and built the world’s first ‘all composite foil assisted
                fast ferry’ using his advanced technology described by industry experts as ‘beyond
                cutting edge’. The vessel exceeds ABS (American Bureau of Shipping), Lloyds of London,
                and DNV (Det Norske Veritas) standards; qualifying it also as the world’s first
                ‘all composite classed high speed ferry’.The vessel has been operating since 2006
                proving the durablity of the material and performance success of the vessel design.<br />
                <a id="expand2" href="javascript:void(0);" class="expand">more (+)</a>
            </p>

            <p id="summary-click2" style="display:none">
                Another proof of concept project built with this material was erected on
                a remote island 85 miles off the coast of Panama. This structure was specifically
                designed to test logistics and all the systems for generating energy, making water,
                storage, and communications. Additionally 100% self- sustaining, maintenance free,
                and element tested.
            </p>
            </div>
 

    @*<img class="rightpic" alt="Seattle Shipyard" src="@Url.Content("~/Assets/TNC/SiteImages/Seattle_shipyard.jpg")">
        <img class="rightpic" alt="Steel Vs. Composite" src="@Url.Content("~/Assets/TNC/SiteImages/steel_vs_composite.jpg")">
        <img class="rightpic" alt="Composite Housing" src="@Url.Content("~/Assets/TNC/SiteImages/05158340a535702b840a513b3e451373.png")">
        <img class="middlepic" alt="McClellan Park" src="@Url.Content("~/Assets/TNC/SiteImages/0cac6660051da17178d6487bddcb500.jpg")" />*@

    <div class="span6">
        <!-- textContainer_Truncate -->

        <!-- textContainer_Truncate -->
        <div class="singleyears">
            '08

        </div>
        <p>
            Oelofse developed a unique lift based foil blade design for cylindrical axis
            wind generators. The blade design, developed on hydrodynamic principles, has been
            successfully in operation proving the efficiency of the blade designs since 2008.
        </p>

        <p><img class="rightpic" alt="Seattle Shipyard" src="@Url.Content("~/Assets/TNC/SiteImages/Seattle_shipyard.jpg")">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac tortor eget lorem venenatis pulvinar ut sit amet quam. Aenean volutpat iaculis tortor, sit amet tempus velit bibendum in. Morbi placerat scelerisque massa, at lobortis nisi ullamcorper id. Mauris euismod facilisis eros, non dapibus tortor aliquet sed. Donec ultricies ullamcorper nibh vitae suscipit. Quisque eu orci ut nisl condimentum lobortis eget at justo. Vivamus scelerisque tellus eu aliquam imperdiet. Nulla faucibus arcu vel lectus scelerisque ornare.</p>
        <!-- textContainer_Truncate -->
        <div class="years">
            '09-<br />&nbsp;'12

        </div>
        <p>
            Oelofse fully develops magnetic technology for advanced turbine designs
            schduled to launch first quarter 2013.
        </p>
        <p>
            True North Composites Inc., Opens doors at McClellan Business Park, McClellan
            CA.
        </p>
        <p>Proin eget metus sit amet diam viverra fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. In molestie massa et tellus tincidunt mollis. Aliquam erat volutpat. Pellentesque hendrerit tristique neque, quis tincidunt risus fermentum ut. Vestibulum tincidunt neque eu consectetur dignissim. Vivamus scelerisque aliquam magna id volutpat. Etiam condimentum eget urna id fermentum. In hac habitasse platea dictumst. Quisque auctor odio in risus pellentesque lacinia</p>

        <!-- textCointainer_Truncate -->
        <div class="singleyears">
            '13
        </div>
        <p>
            True North developed our ‘Power in a Box” concept, composite container line,
            and ReVair turbines with new generation magnetic motors.
        </p>
        <p>Proin eget metus sit amet diam viverra fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. In molestie massa et tellus tincidunt mollis. Aliquam erat volutpat. Pellentesque hendrerit tristique neque, quis tincidunt risus fermentum ut. Vestibulum tincidunt neque eu consectetur dignissim. Vivamus scelerisque aliquam magna id volutpat. Etiam condimentum eget urna id fermentum. In hac habitasse platea dictumst. Quisque auctor odio in risus pellentesque lacinia</p>
    </div>







    <script>

        $("#expand1").click(function () {
            if ($(this).text() == "more (+)")
                $(this).text("less (-)");
            else
                $(this).text("more (+)");
            $("#summary-click1").toggle("slow");
        });

        $("#expand2").click(function () {
            if ($(this).text() == "more (+)")
                $(this).text("less (-)");
            else
                $(this).text("more (+)");
            $("#summary-click2").toggle("slow");
        });




    </script>




        </div>

    </div>


