@{
    ViewBag.Title = "Home";
    ViewBag.Current = "Home";
    ViewBag.CurrentPageForNavBar = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

#circle {
    
    border-radius:175px;
    height: 564px;
    left: 54px;
    position: relative;
     width: 500px;
    filter:alpha(opacity=50);
	-moz-opacity:0.5;
	  opacity: 0.8;
	  background-color:White;
	  top:20px;
}

#margins {
    margin-left: 14px;
    margin-top: 68px;
}
</style><div id="homeback">
<div id="colors" class="container2">
    <div  id="circle" class="panel"><div id="margins"><h2>Welcome</h2>	

<h4>Engineering Product and Systems Solutions for Sustainability Applications </h4>   
<p>True North Composites is most recognized for our innovative composite materials; tested and validated for strength as well as versatility, and especially well-suited to attain product performance for applications in extreme environments. 
</p><p>Our product and system solutions are value engineered for not only superior performance but also for environment compatibility and sustainability attributes. With a focus on <span class="highlight">improving life through responsible technologies</span>, our <span id="highlight">“circle of sustainability”</span>business mission, has spawned multitudes of product solutions. Each creation originates from societal need and founded on simple but sophisticated science applications. 
</p><p>Our proprietary composite material serves as the foundation that enables us to develop product lines suitable for niche markets potentially not possible with traditional construction materials, i.e. coastal environments, flood and earthquake zones, extreme temperature and humidity locations, high velocity winds, and insect incursion. With our composites, nothing is impossible. </p>
<p>Thank you for visiting our website to learn more about our endeavors.  </p>
</div>@*<img class="imagesize" alt="Ferry Picture" src="@Url.Content("~/Resources/ContentImages/DSCN3514.jpg")" /> <img class="imagesize" alt="Ferry Picture" src="@Url.Content("~/Resources/ContentImages/turbine_blades_rings_5_kw_.jpg")" />  <img class="imagesize" alt="Ferry Picture" src="@Url.Content("~/Resources/ContentImages/Image07.jpg")" />  <img class="imagesize" alt="Ferry Picture" src="@Url.Content("~/Resources/ContentImages/IMGP1991.jpg")" /> 
 <img class="imagesize" id="rightsidepic" alt="Ferry Picture" src="@Url.Content("~/Resources/ContentImages/Picture1.png")" />*@  </div> </div>
  </div>
