@{
    ViewBag.Title = "News Detail";
    ViewBag.Current = "News Detail";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<Tuple<string, string, string, string, string, string, string>> news = new List<Tuple<string, string, string, string, string, string, string>>()
    {
        Tuple.Create("1","/News/News1.cshtml","<After fifteen years of solid research we have reached the startling conclusion:","<img src=\"http://placehold.it/350x150\" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed leo suscipit, hendrerit elit sit amet, posuere ligula. Nunc lobortis sagittis aliquet. Ut pretium ornare sapien non suscipit. Suspendisse dui velit, tempus id dictum id, aliquam id tortor. Morbi luctus, nulla pretium fringilla dictum, neque ante congue risus, non dapibus orci dui ac erat. Suspendisse nec neque id nisi hendrerit sagittis non vel augue. Mauris vehicula ultricies tortor, a facilisis mauris elementum sed. Morbi placerat non orci vitae congue. Quisque ultrices enim quis condimentum tempor. Nunc vehicula dolor at lacinia porta. Proin porttitor tempor ante, vitae scelerisque est hendrerit interdum. Vivamus facilisis eros mi, placerat fringilla urna accumsan vel.Duis rutrum felis id nunc bibendum fermentum. Vestibulum auctor sapien vitae diam feugiat, a ornare urna luctus. Etiam eu auctor enim. Donec vitae tortor sed metus bibendum feugiat. Curabitur aliquet lacus lorem. Fusce scelerisque porta sollicitudin. Vivamus magna arcu, egestas at lectus id, egestas malesuada nibh. Vestibulum eget tempor nunc, ac mattis neque. Maecenas dapibus condimentum justo, cursus adipiscing est condimentum et. Ut condimentum vulputate orci, eget hendrerit lacus fringilla eu. Nam non sodales libero. Pellentesque dictum felis sed lacus cursus scelerisque. Donec viverra ut risus eu varius. Suspendisse hendrerit nibh ipsum, a mattis sem tincidunt id. Sed porta eu mauris ut mattis. Curabitur viverra consectetur metus in venenatis. Maecenas gravida ultrices pretium. Quisque bibendum sem vel est pharetra convallis. Nunc vitae quam hendrerit, sodales est id, pretium metus. Pellentesque nulla quam, accumsan lacinia sem vel, ultrices bibendum dolor. Pellentesque et arcu sapien. Ut sit amet viverra arcu. Nam eleifend bibendum lorem et egestas. Aliquam tincidunt interdum mauris, eget elementum velit volutpat in. Duis viverra mi in purus scelerisque sodales. Maecenas ornare rutrum vehicula. Proin sit amet nibh elit. Nullam tristique neque varius tincidunt condimentum. Etiam vel nunc scelerisque, bibendum nisi non, feugiat urna. Duis sit amet eleifend odio, ut luctus leo. Nunc eleifend tellus eget velit convallis scelerisque. Mauris quam risus, gravida eu posuere eget, elementum eu lacus. Nulla tincidunt tellus vel feugiat ornare. Nulla ut rutrum neque. Mauris lacinia rhoncus nisl eu imperdiet. Suspendisse adipiscing imperdiet massa, eu euismod lorem gravida non. Quisque tristique nibh lacus, a pulvinar diam cursus at. Mauris aliquam nisi vel magna interdum posuere. Mauris eu arcu sed turpis hendrerit commodo vitae sed metus.","Turbines: Are they Safe?","Published MM/DD/YYYY","Written by Dr.Idontknowwhat")
    };
}
@section PageCSS{
  <style>
      #text
      {
          float:left;
      }
    </style>
}

@section PageJavascript{}
<div class="container">

    <h3>
        @foreach (Tuple<string, string, string, string, string, string, string> newsDetails in news)
        {
            @newsDetails.Item5
        }
    </h3>

    @foreach (Tuple<string, string, string, string, string, string, string> newsDetails in news)
    {
        @newsDetails.Item6
        <br />
        <br />
        @newsDetails.Item7<br />
        <br />
        <br />
        <div id="text" align="justify">@Html.Raw(newsDetails.Item4)</div>

    }
    <br />
    <br />

    <a href="@Url.Content("~/Home/News")">Back to News</a>
</div>



